DATABASE_URL=postgresql://postgres:040217@localhost/planifpro
JWT_SECRET_KEY=0fe459408dc128f779f29fbf0d0238ef78845da0e2daba52da81e4c86abb2f5a
SENDGRID_API_KEY=
FIREBASE_CREDENTIALS=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
