DATABASE_URL=postgresql://user:motdepasse@localhost/planifpro
JWT_SECRET_KEY=ta_cle_secrete_jwt
BREVO_API_KEY=ta_cle_brevo
BREVO_FROM_EMAIL=ton_email_expediteur
FIREBASE_CREDENTIALS=cle_firebase/ton_fichier_firebase.json
GOOGLE_CLIENT_ID=ton_client_id_google
GOOGLE_CLIENT_SECRET=ton_client_secret_google
GOOGLE_REDIRECT_URI=http://localhost:5000/api/v1/calendrier/callback
GOOGLE_CLIENT_SECRETS=cle_google/ton_fichier_client_secrets.json
